<% case Kablam.datetime_handler %>
<% when "flatpickr" %>
  <div class="<%= classes[:form_group] %>">
    <label for="<%= input[:name] %>" class="<%= classes[:field_label] %>"><%= raw input[:label] %></label>
    <small id="<%= input[:name] %>-desc" class="<%= classes[:field_hint] %>"><%= raw input[:hint] %></small>
    <input id="<%= input[:id] if input[:id].present? %>" name="<%= input[:name] %>" class="<%= classes[:input] %>" type="text" value="<%= input[:value] %>" data-controller="flatpickr" data-flatpickr-alt-format="Y-m-d" data-flatpickr-default-date="<%= input[:value] %>" data-flatpickr-min-date="<%= Time.zone.now %>" data-flatpickr-max-date="<%= Time.zone.now+120.days %>" data-flatpickr-change="<%= input[:onchange] || "" %>">
  </div>
<% else %>
  <div class="<%= classes[:form_group] %>">
    <label for="<%= input[:name] %>" class="<%= classes[:field_label] %>"><%= raw input[:label] %></label>
    <small id="<%= input[:name] %>-desc" class="<%= classes[:field_hint] %>"><%= raw input[:hint] %></small>
    <input id="<%= input[:id] if input[:id].present? %>" name="<%= input[:name] %>" class="<%= classes[:input] %>" type="datetime-local" value="<%= input[:value] %>">
  </div>
<% end %>
